<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinchao.data.dao.FaceDataDeviceTimeMapper">
    <!--时间人数人次-->
    <resultMap id="DeviceTimeDTOResultMap" type="com.xinchao.data.model.dto.SingleDeviceTimeDTO">
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="people_num_sum" jdbcType="INTEGER" property="peopleNumSum"/>
        <result column="people_time_sum" jdbcType="INTEGER" property="peopleTimeSum"/>
    </resultMap>

    <!--插入数据-->
    <insert id="insertFaceDataDeviceTime" parameterType="com.xinchao.data.model.FaceDataDeviceTime">
        insert into frp_face_data_device_time(date, device_code, residence_type, time, people_num, people_time, add_time)
        values
        (
            #{faceDataDeviceTime.date},#{faceDataDeviceTime.deviceCode},
            #{faceDataDeviceTime.residenceType},#{faceDataDeviceTime.time},
            #{faceDataDeviceTime.peopleNum},#{faceDataDeviceTime.peopleTime},
            #{faceDataDeviceTime.addTime}
        )
    </insert>

    <!--批量插入数据-->
    <insert id="insertFaceDataDeviceTimeBatch" parameterType="java.util.List">
        insert into frp_face_data_device_time(date, device_code,  residence_type, time, people_num, people_time, add_time)
        values
        <foreach collection="faceDataDeviceTimeList" item="faceDataDeviceTime" index="index" separator=",">
            (
                #{faceDataDeviceTime.date},#{faceDataDeviceTime.deviceCode},
                #{faceDataDeviceTime.residenceType},#{faceDataDeviceTime.time},
                #{faceDataDeviceTime.peopleNum},#{faceDataDeviceTime.peopleTime},
                #{faceDataDeviceTime.addTime}
            )
        </foreach>
    </insert>

    <!--获取客流人数、人次按时间分组-->
    <select id="listDeviceTime" resultMap="DeviceTimeDTOResultMap">
        select time,sum(people_num) as people_num_sum,sum(people_time) as people_time_sum
        from frp_face_data_device_time
        where date in
        (
        <foreach collection="dateList" item="date" index="index" separator=",">
            #{date,jdbcType=VARCHAR}
        </foreach>
        )
        and  residence_type in
        (
        <foreach collection="residenceTypeList" item="residenceType" index="index" separator=",">
            #{residenceType,jdbcType=VARCHAR}
        </foreach>
        )
        group by time
    </select>

    <!--获取实际日期列表-->
    <select id="listActualDate" resultType="java.lang.String">
        select date
        from frp_face_data_device_time
        where date in
        (
        <foreach collection="dateList" item="date" index="index" separator=",">
            #{date,jdbcType=VARCHAR}
        </foreach>
        )
        and residence_type in
        (
        <foreach collection="residenceTypeList" item="residenceType" index="index" separator=",">
            #{residenceType,jdbcType=VARCHAR}
        </foreach>
        )
        group by date
    </select>

</mapper>