<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinchao.data.dao.MonitorDataAdvertisementTimeMapper">
    <!--监播观看触达人次结果集-->
    <resultMap id="MonitorWatchTouchResultMap" type="com.xinchao.data.model.dto.MonitorWatchTouchDTO">
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="watch_sum" jdbcType="INTEGER" property="watchSum"/>
        <result column="touch_sum" jdbcType="INTEGER" property="touchSum"/>
    </resultMap>

    <!--插入数据-->
    <insert id="insertMonitorDataAdvertisementTime" parameterType="com.xinchao.data.model.MonitorDataAdvertisementTime">
        insert into frp_monitor_data_advertisement_time(advertisement_name, date, time, exposures_sum, touch_sum, watch_sum, play_duration_sum, add_time)
        values
            (
                #{monitorDataAdvertisementTime.advertisementName},#{monitorDataAdvertisementTime.date},
                #{monitorDataAdvertisementTime.time},#{monitorDataAdvertisementTime.exposuresSum},
                #{monitorDataAdvertisementTime.touchSum},#{monitorDataAdvertisementTime.watchSum},
                #{monitorDataAdvertisementTime.playDurationSum},#{monitorDataAdvertisementTime.addTime}
            )
    </insert>

    <!--批量插入数据-->
    <insert id="insertMonitorDataAdvertisementTimeBatch" parameterType="java.util.List">
        insert into frp_monitor_data_advertisement_time(advertisement_name, date, time, exposures_sum, touch_sum, watch_sum, play_duration_sum, add_time)
        values
        <foreach collection="monitorDataAdvertisementTimeList" item="monitorDataAdvertisementTime" index="index" separator=",">
            (
                #{monitorDataAdvertisementTime.advertisementName},#{monitorDataAdvertisementTime.date},
                #{monitorDataAdvertisementTime.time},#{monitorDataAdvertisementTime.exposuresSum},
                #{monitorDataAdvertisementTime.touchSum},#{monitorDataAdvertisementTime.watchSum},
                #{monitorDataAdvertisementTime.playDurationSum},#{monitorDataAdvertisementTime.addTime}
            )
        </foreach>
    </insert>

    <!--获取监播观看触达人次列表-->
    <select id="listMonitorWatchTouch" resultMap="MonitorWatchTouchResultMap">
        select time,sum(watch_sum) as watch_sum, sum(touch_sum) as touch_sum
        from frp_monitor_data_advertisement_time
        where date in
        (
            <foreach collection="dateList" item="date" index="index" separator=",">
                #{date,jdbcType=VARCHAR}
            </foreach>
        )
        group by time
    </select>

    <!--获取实际日期列表-->
    <select id="listActualDate" resultType="java.lang.String">
        select date
        from frp_monitor_data_advertisement_time
        <where>
            <if test="dateList != null">
                 date in
                (
                <foreach collection="dateList" item="date" index="index" separator=",">
                    #{date,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
        </where>
        group by date
    </select>
</mapper>